In [1]:
# HCS Workshop 2, Web Scraping

In [2]:
# Author: Kevin Luo

In [3]:
import requests
from bs4 import BeautifulSoup

page = requests.get("https://store.steampowered.com/stats/")
print(page.status_code)

200

In [4]:
soup = BeautifulSoup(page.content, 'html.parser')

In [5]:
table = soup.find(id="detailStats")
rows = table.find_all("tr")
rows[0]

<tr>
<td align="right"><b>Current Players</b></td>
<td align="right" style="padding-left: 12px"><b>Peak Today</b></td>
<td width="20"> </td>
<td align="left"><b>Game</b></td>
</tr>

In [6]:
header = rows[0]
cols = header.find_all('td')
cols = [str.strip(title.get_text()) for title in cols]
cols

['Current Players', 'Peak Today', '', 'Game']

In [7]:
games = rows[2:]
data = []

for game in games:
    cells = game.find_all('td')
    cells = [str.strip(cell.get_text()) for cell in cells]
    data.append(cells)

data[0]

['494,945', '892,234', '', 'Counter-Strike: Global Offensive']

In [8]:
import pandas as pd
df = pd.DataFrame(data)
df.columns = cols

df = df.drop('', axis=1)

In [9]:
def process(col):
    res = []
    for num_string in col:
        if(isinstance(num_string, int)):
            res.append(num_string)
        else :
            num_string = num_string.replace(",", "")
            res.append(int(num_string))
    return res

df[['Current Players', 'Peak Today']] = df[['Current Players', 'Peak Today']].apply(process, axis=0)

df

    Current Players  Peak Today                              Game
0            494945      892234  Counter-Strike: Global Offensive
1            346944      632060                            Dota 2
2            188163      346450     PLAYERUNKNOWN'S BATTLEGROUNDS
3             69091      264004                          Among Us
4             56693      104107                Grand Theft Auto V
..              ...         ...                               ...
95             4080       10670  eFootball PES 2021 SEASON UPDATE
96             4059        7137                         Grim Dawn
97             4047        9292                    Sea of Thieves
98             4044        7834                        Soulworker
99             4038        7853                         Far Cry 5

[100 rows x 3 columns]